@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}


.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-black sm:text-6xl;
}

.search_input {
  @apply block w-full rounded-md border bg-white py-2.5 font-satoshi pl-5 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}

.wrapper {
  @apply lg:mx-20 lg:mr-40 text-sm my-4 items-center;
}

.char-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.char-label-background {
  background-color: #1E40AF; 
  padding: 0.2em 0.4em; 
  border-radius: 0.25em;
  color: white; 
  margin-bottom: 0.2rem;
}

@media (max-width: 768px) {
  .grid-cols-4 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .max-w-sm {
    max-width: 100%;
  }

  .rounded-t-lg {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }

  .w-full.h-80 {
    width: 100%; 
    height: auto; 
  }

  .head_text {
    font-size: 24px;
  }
}
